<div
  class="fixed top-0 left-0 w-full h-[10vh] bg-sky-300 z-[1000] flex items-center justify-between"
>
  <h1 class="ml-4 font-bold">Workouttracker</h1>
  @if (currentRoute === '/' || currentRoute === '/login' || currentRoute === '/register') {

  <div class="flex ml-[80rem] mt-8 mr-3 gap-4">
    <button 
    class="font-bold bg-beige border-none rounded-[20px] cursor-pointer h-8
    {{ currentRoute === '/' ? 'bg-blue 600 text-blue-500' : ''}}" 
    routerLink="/"
    >
      Startsidan
    </button>
    <button
      class="font-bold bg-beige border-none rounded-[20px] cursor-pointer h-8
      {{ currentRoute === '/login' ? 'bg-blue 600 text-blue-500' : ''}}"
      routerLink="/login"
    >
      Logga in
    </button>
    <button
      class="font-bold bg-beige border-none rounded-[20px] cursor-pointer h-8
      {{ currentRoute === '/register' ? 'bg-blue 600 text-blue-500' : ''}}"
      routerLink="/register"
    >
      Registrera dig
    </button>
  </div>

  } @if (currentRoute === '/homepage' || currentRoute === '/workout' || currentRoute ===
  '/webbshop') {
  <div class="flex ml-[70rem] mt-8 mr-3 gap-4">
    <button
      class="font-bold bg-beige border-none rounded-[20px] cursor-pointer h-8
      {{ currentRoute === '/homepage' ? 'bg-blue 600 text-blue-500' : ''}}"
      routerLink="/homepage"
    >
      Hemsidan
    </button>
    <button
      class="font-bold bg-beige border-none rounded-[20px] cursor-pointer h-8
      {{ currentRoute === '/workout' ? 'bg-blue 600 text-blue-500' : ''}}"
      routerLink="/workout"
    >
      Workoutsida
    </button>
    <button
      class="font-bold bg-beige border-none rounded-[20px] cursor-pointer h-8
      {{ currentRoute === '/webbshop' ? 'bg-blue 600 text-blue-500' : ''}}"
      routerLink="/webbshop"
    >
      Webbshop
    </button>
    <button
      (click)="logoutFunction()"
      class="font-bold bg-beige border-none rounded-[20px] cursor-pointer h-8"
      routerLink="/webbshop"
    >
      Logga ut
    </button>
  </div>
  }
</div>
